*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    background-image: url('/Módulo 7/image/paleste.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.header{
    background-color: #48C5CE;
    color: white;
    text-align: center;
    padding: 10px;
}
.containerForm{
    margin: 10px;
    display: inline-block;
    color: white;
    width: 230px;
    float: right;
    background-color: #FFFFFFBB;
    border-radius: 5px;
    padding: 10px;
}
.containerForm input,select{
    margin: 10px;
    padding: 5px;
    border: none;
}
.containerForm h2, p {
    margin: 10px;
    color: black;
}
input[type=submit]{
    color: blue;
}
.palestrante img {
    width: 150px;
    text-align: center;
}
.rodape{
    color: white;
}