/* body{
    background-image: url(imagens/backgorund.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 */
.container{
    background-image: url(imagens/backgorund.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.list  {
    list-style-image: url(imagens/Insta.png) ;
}
