body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100px;
    height: 100px;
}
.esquerda1{
    background-color: red;
}
.esquerda2{
  background-color: blue;
  position: relative;
  left: 668px;
  bottom:40px
}
.direita1{
    background-color: yellow;
    position: relative;
    top:260px;
    left:668px;
}
.direita2{
    background-color: green;
    position:relative ;
    top:222px

}


